body {
    background-color: blanchedalmond;
    color: black;
    font-size: 14px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.box1 {
    top: 40px;
    right: 40px;
    background-color: red;
}
    
#heart {
    position: relative;
    width: 100px;
    height: 90px;
}

.button {
    display:block;
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    background-image: url(sprite.png);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.overflow {
    margin-bottom: 400px;
    background-color: purple;
    color: black;
    width: 300px;
    height: 300px;
    overflow: scroll;
    position: relative;
}

.container {
    background-color: black;
    width: 200px;
    height: 400px;
    margin-bottom: 100px;
    position: relative;
}
        
.child {
    width: 40px;
    height: 40px;
    background-color: green;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.triangle {
    width: 100px;
    height: 100px;
    background-color: lime;
    border: 10px solid green;
    border-top: 20px solid yellow;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.mycircle { 
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;

.button:hover {
    background-position: -200px 0;
 
}

.button:active {
    background-position: -400px 0;
}