body {
    background-color: red;
    color: white;
    font-size: 14px;

}

.container {
    width: 800px;
    font-size: 0;
}

.circle {
  background-color: blue;
  width: 100px;
 height: 100px;
 border-radius: 20%;
 position: fixed;
 bottom: 20px;
 right: 20px;
 z-index: 500;
}

.circle2 {
      background-color: green;
  width: 100px;
 height: 100px;
 border-radius: 20%;
 position: fixed;
 bottom: 10px;
 right: 20px;
}

a {
    color: lime;
}

a:hover {
    color: black;
    font-size: 100px;
}