body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 100px;
    font-family: 'Unica One', serif;
    font-size: 48px;
    color: palevioletred;
}

div {
  position: relative;
  color: lightslategry;
}

.myanimatedborder:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 20px;
  background-color: thistle;
  content: "";
  transition: width 0.2s;
  animation: underline 10s .5s;
}

@keyframes underline {
  from{width:0%} 
  to{width:100%}
}

.bar { 
    background-color: palevioletred;
    background-attachment: fixed;
    width: 7000px;
    height: 20px;
    margin-top: 60px;
    margin-bottom:0px;
}

.button {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(marble.jpg);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: right;
}

.button:hover {
    background-position: -200px 0;
 
}

.button:active {
    background-position: -40px 0;
}

@font-face {
    font-family: 'unica one', cursive; 
}

