body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 100px;
    font-family: 'Unica One', serif;
    font-size: 48px;
    font-stretch: condensed;
    color: palevioletred;
}

.hexagon {
  position: relative;
  margin: 100px auto;
  width: 190px;
  height: 110px;
  background-image: url("drake.jpg");
  background-position: center;
  z-index: 0;
  color: #fff;
  color: rgba(255,255,255,.5);
  cursor: crosshair;
  transition: color 500ms ease, text-shadow 500ms ease;
}
.hexagon:hover {
  color: #fff;
  text-shadow: 0 0 10px white;
}

.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  backface-visibility: hidden;
}
.face1:before,
.face2:before {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}

.face1 { transform: rotate(60deg); }
.face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}

.hexagon .face2 { transform: rotate(-60deg); }
.hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}

div {
  position: relative;
  color: lightslategry;
}

div:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: thistle;
  content: "";
  transition: width 0.2s;
  animation: underline 10s .5s;
}
 
.button {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(drake.jpg);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: right;
}

.button:hover {
    width: 200px;
    height: 500px;
    background-color: silver;
    line-height: 300px;
    color: white;
    text-align: left;
}

.button:active {
    background-position: -40px 0;
}

@font-face {
    font-family: 'unica one', cursive; 
}

